@charset "UTF-8";

@font-face {
    font-family: 'TTCrownMychewR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/TTCrownMychewR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* ***************초기화*************************** */
/* 여백초기화 */
body, div, ul, li, dl, dt, ol, h1, h2, h3, h4, h5, h6, input, fieldset,
	legend, p, select, table, th, td, tr, textarea, button, form {
	margin: 0;
	padding: 0;
}

body {
	font-size: 12px;
	font-family: "맑은 고딕", 돋움, 굴림;
}

/* 리스트 초기화 */
ul, ol {
	list-style-type: none;
}

/* 링크 초기화 */
a:link {
	color: #ffffff;
	text-decoration: none;
} /* 방문전 링크일때 자홍색 선없음 */
a:visited {
	color: #ffffff;
	text-decoration: none;
} /* 방문했던 링크일때 회색 위에선*/
a:hover {
	color: #ffffff;
	text-decoration: none;
} /* 마우스오버일때 파란색 아래선 */
a:active {
	color: #ffffff;
	text-decoration: none;
} /* 클릭했을때 빨간색 중앙선*/

/* clearfix */
.clearfix {
	*zoom: 1;
}

.clearfix:before, .clearfix:after {
	display: block;
	content: "";
	line-height: 0;
}

.clearfix:after {
	clear: both;
}

.bold {
	font-weight: bold;
}

/* ******************레이아웃************************** */
#wrap {
	margin: 0px auto;
	width: 100%;
	height: 100%;
}

#wrap>#header {
	padding: 10px 0px 10px 0px;
	background-color: #00bfa5;
}

#wrap>#area {
	padding: 10px 0px 10px 0px;
	background-color: #00bfa5;;
}


/********************* 헤더 (nav)*********************/
#nav{
    width: 1024px;
    height: 100px;
    margin: auto;
}

#nav a{
	color : black;
}

#nav>ul li{
	display: table-cell;
	width : 1024px;
	height : 80px;
	padding-top : 30px;
	font-size: 18px;
	font-weight: normal;
	text-align : center;
	color : rgba(0,0,0,0.56);
}

/* ******************해더(로고  로그인,회원가입)************************** */
/* 헤더 제목 */
#header>#section {
	position: relative;
	width: 1024px;
	height: 64px;
	background: none;
	margin: auto;
}

#header>#section h1 a {
	float: left;
	color: #FFFFFF;
	font-size: 35px;
	font-weight: bold;
	padding-top : 5px;
	margin-left: 95px;
	font-family: 'TTCrownMychewR';
	
}


/* 헤더 ul */
#header ul {
	font-family: 'TTCrownMychewR';
	margin: 15px 105px 0px 0px;
	float: right;
}
/* 헤더 li */
#header ul>li {
	margin: 0px 0px 0px 20px;
	float: left;
	font-size: 24px;
	padding: 0px 0px 0px 20px;
}

/* 헤더 펜션글자 */
#area h2 {
	display: block;
	margin-left: 246px;
	font-size: 30px;
	font-weight: normal;
	letter-spacing: -1px;
	color: #fff;
}

/* 헤더 지역선택 */
#area span {
	border: 1px solid white;
	border-radius: 4px;
	display: inline-block;
	margin: 10px 0px 5px 246px;
	font-size: 18px;
	font-weight: normal;
	letter-spacing: -1px;
	color: #fff;
}
/* /******************** 컨텐츠 */
#content {
	width: 1024px;
	margin: auto;
}
* /
	/* ******************푸터************************** */ 
footer {
	overflow: hidden;
	clear: both;
	position: relative;
	margin-top: 60px;
	padding: 63px 31px 40px 31px !important;
	border-top: 1px solid rgba(0, 0, 0, 0.08);
	background: #252525;
	height: 220px;
	font-size: 13px;
	line-height: 20px;
	color: rgba(0, 0, 0, 0.38);
}

footer .align {
	width: 1024px;
	padding-top : 60px;
	margin: 0 auto;
}

footer .link {
	overflow: hidden;
}

footer ul {
	display: block;
	padding-left : 100px;
	margin-left: auto;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

ul, ol, li {
	list-style: none;
}

footer .link li {
	float: left;
	margin-bottom: 5px;
	line-height: normal;
}

/**
footer .link li:nth-child(5), footer .link li:nth-child(8) {
	clear: none;
}
**/
footer .link li:last-child {
	margin-bottom: 0;
}


footer .link li span {
	display: inline-block;
	position: relative;
	top: -2px;
	width: 24px;
	font-size: 11px;
	text-align: center;
}

footer .link li a {
	display: inline-block;
	color: gray;
}

footer p {
	clear: both;
	padding: 20px 0 20px 100px;
}

footer address {
	line-height: 22px;
	display: inline-block;
	padding-left : 100px;
}

address, caption, em, var {
	font-style: normal;
	font-weight: normal;
}



#container{
	clear : both;
	min-width : 1024px;
	padding-left : 10px;
	padding-right : 10px;
	text-align : center;
}
