@charset "UTF-8";

#saleshistorytitle{
	width: 1024px;
	height : 100px;
	background-color: #FFFFFF;
	margin-bottom: 30px;
	padding-left: 30px;
	padding-right: 30px;
	border-radius : 5px;
	border: 1px solid #aaa;
	box-shadow: -1px 1px 2px #aaa;
}

#saleshistory{
	width: 1024px;
	background-color: #FFFFFF;
	margin-bottom: 30px;
	padding-left: 30px;
	padding-right: 30px;
	border-radius : 5px;
	border: 1px solid #aaa;
	box-shadow: -1px 1px 2px #aaa;
}

.subject{
	font-size: 24px;
	text-align: center;
	margin-top: 30px;
}

#saleshistory > table{
	font-size: 14px;
}

th{
	text-align: center;
}

tr{
	text-align: center;
}

.pagination > li > a{
	color: #00bfa5;
}

.pagination > .active > a{
	color: #00bfa5;
	background-color: #ddd;
	border: 1px solid #ddd;
}

.pagination > .active > a:hover{
	color: #00bfa5;
	background-color: #ddd;
	border: 1px solid #ddd;
}

.justify-content-center{
	text-align: center;
}