@charset "UTF-8";


@font-face {
    font-family: 'TTCrownMychewR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/TTCrownMychewR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/* ***************초기화*************************** */
/* 여백초기화 */
body, div, ul, li, dl, dt, ol, 
h1, h2, h3, h4, h5, h6, input, 
fieldset, legend, p, select, 
table, th, td, tr, textarea, 
button, form {
    margin: 0; padding: 0;
}


body {
   font-size: 12px;
   font-family: "맑은 고딕", 돋움, 굴림;
}


/* 리스트 초기화 */
#header > #section > ul, ol {list-style-type: none;}

/* 링크 초기화 */
a:link    {color: #ffffff; text-decoration: none;}     /* 방문전 링크일때 자홍색 선없음 */
a:visited {color: #ffffff; text-decoration: none;}      /* 방문했던 링크일때 회색 위에선*/
a:hover   {color: #ffffff; text-decoration: none;}   /* 마우스오버일때 파란색 아래선 */
a:active  {color: #ffffff; text-decoration: none;}   /* 클릭했을때 빨간색 중앙선*/ 


/* clearfix */
.clearfix{*zoom:1;}
.clearfix:before, .clearfix:after {display: block; content: ""; line-height: 0;}
.clearfix:after {clear: both;}

.bold {font-weight: bold;}


/* ******************레이아웃************************** */


#wrap {
    position:relative;
    margin: 0px auto;
    width: 100%;
    height: 100%;
}

#header > #section > button {
    float: right;
    margin: 15px 0px 0px 0px;
    padding: 0px;
    width: 30px;
    height: 30px;
    color: #FFF;
    background-color: #F7323F;
}

#search-icon {
    width: 30px;
    height: 30px;
    background-color: #F7323F;
}





#wrap > #area {
   padding: 10px 0px 10px 0px;
   background-color:   #f7323f;
   
}

/* ******************해더(로고  로그인,회원가입)************************** */
/* 헤더 제목 */




/* 헤더 ul */
#header ul {
   margin: 19px 0px 0px 0px;
   float: right;
   
}
/* 헤더 li */
#header ul>li {

   font-size: 20px;
}

/* 헤더 펜션글자 */
#area h2{
    display: block;
    margin-left: 246px;
    font-size: 30px;
    font-weight: normal;
    letter-spacing: -1px;
    color: #fff;
}

/* 헤더 지역선택 */
#area span{
    border: 1px solid white;
    border-radius: 4px;
    display: inline-block;
    margin: 10px 0px 5px 246px;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: -1px;
    color: #fff;
}
 /* ******************메인************************** */

#map1 {
	width:100%;
	height:400px;
}

#main {
    width:1024px;
    margin:auto;
    margin-top:30px;
    padding-top:70px;
}

#main > #content {
    width: 525px;
    height:50px;
}

#main > #content > button:hover {
    cursor:pointer;
}

#main > #content > #area {
    font-size:20px;
    font-weight: bold;
}

#main > #content > #pensionName {
    font-size:20px;
    font-weight: bold;
}

#main > #content > #address {
    font-size:12px;
}

#main > #content > img {
    width:14px;
    margin-left:15.5px;
}

#main > #content > #map {
    border-style: none;
    font-size:12px;
    background-color: #FFFFFF;
    color:rgb(52, 152, 219);
}

#main > #content > #star > #pensionReview {
    border-style: none;
    font-size:14px;
    background-color: #FFFFFF;
    margin-top:1.5px;
}

#main > #content #star {
    display: flex;
    align-items: center;
    height:20px;
    margin-top:1.5px;
}

#content > #star > .starCount > img {
    width:16px;
    padding-right:1px;
}

#content > #star > #starScore {
    padding-left:5px;
    margin-top:2px;
    font-size:14px;
    font-weight: bold;
    height:100%;
}

#content > #star > #pensionReview {
    padding-left:5px;
    font-size:14px;
    padding-right:5px;
    background-color: #ffffff;
}

#content > #star > #pensionReview:hover {
    cursor:pointer;
}

#main > #gallery {
    display:flex;
    position:relative;
}

#main > #gallery > #mainImg {
    display: flex;
    width:519px;
    height:329px;
    padding-top:10px;
}

#main > #gallery > #imgCount {
    display: flex;
    position:absolute;
    top:88.7%;
    left:40.3%;
    width:100px;
    height:25px !important;
    font-size:11px;
    font-weight: bold;
    color:#FFFFFF;
    background-color: rgb(52, 152, 219);
    padding:3px;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}


#main > #gallery > #subImg {
    display: flex;
    width:100%;
    margin-left:25px;
}

#main > #gallery > #subImg > ul {
    display: flex;
    width:343px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin:0px 10px;
    list-style-type:none;
    padding:0;
}

#main > #gallery > #subImg > ul > li {
    margin:0px 10px;
    margin-top:10px;
    margin-bottom:10px;
    width: 150px;
    height:96px;
}

#main > #gallery > #subImg > ul > li > img {
    width:150px;
    height:100%;
    overflow: hidden;
}

#main > #gallery > div > button {
    margin:auto 10px;
    text-align: center;
    border-style: none;
    background-color: #ffffff;
    display: flex;
    justify-content:center;
    align-items:center;
}

#main > #gallery > div > #left {

	padding-top:15px;
	padding-bottom:15px;
	padding-left:5px;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
	background-color:#eeeeee;
	transition: all 0.3s ease;
	height:80px;
}


#main > #gallery > div > #right {

	padding-top:15px;
	padding-bottom:15px;
	padding-left:5px;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	background-color:#eeeeee;
	transition: all 0.3s ease;
	height:80px;
}



#main > #gallery > div > button:hover {
	box-shadow:	-1px -1px 20px 0px #fff9,
   				-1px -1px 5px 0px #fff9,
			    7px 7px 20px 0px #0002,
			    4px 4px 5px 0px #0001;
}




#main > #gallery > div > button:hover {
    cursor:pointer;
}

#main > #gallery > div > button > img {
    width:40px;
}

/* ************** 편의시설 및 서비스 기능************** */

#iconBox {
    width:1024px;
    height:185px;
    margin:auto;
    margin-top:21px;
    padding-top:30px;
    border-top:1px solid black;
    border-bottom:1px solid black;
    display: flex;
    flex-direction: column;
}

#iconBox > h4 {
    font-size:20px;
    font-weight: bold;
}

#iconBox > #container {
    font-size:20px;
    font-weight: bold;
    display: flex;
    justify-content: space-around; 
}

#iconBox > #container > div > span > img {
    padding-top:10px;
    width: 35px;
    display: flex;
}


#iconBox > #container > div {
    margin-right:6px;
    
}

#iconBox > #container > div > .icon {
    display: flex;
    justify-content: center;
}

#iconBox > #container > div > .iconName {
    font-size:10px;
    display: flex;
    justify-content: center;
}

#iconBox > #container > #moreIcon:hover {
    cursor:pointer;
}

/* ********* 메뉴바 ********* */
#iconBox > #menu {
    margin-top:30px;
    margin-bottom:30px;
}

#iconBox > #menu > a > button {
    margin-right:30px;
    border-style:none;
    background-color: #FFFFFF;
    font-size:16px;
    font-weight: bold;
}

#var {
    color:rgb(230,28,81);
}

#var1 {
    color:black;
}

#var2 {
    color:black;
}


.icon {
    width:45px;
    text-align: center;
}

.fontName {
    font-size:16px;
    text-align: center;
}

/* ******** 객실 정보********** */


/* *******달력 ****** */

#roomList {
    width:1024px;
    margin:0 auto;
    margin-top:30px;
}


#roomList > #calendar {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 40px;
    margin: 32px 0;
    border: 1px solid rgba(0,0,0,0.08);
    border-radius: 4px;
    background-size: 32px auto;
    font-size: 14px;
    line-height: 40px;
    color: rgba(0,0,0,0.87);
    
}


/* 달력 css */

.ui-datepicker-header {
	height:36px;
}

.ui-datepicker-title {
	height:35px;
}

.ui-datepicker-year {
	height:30px;
	font-size:14px !important;
	margin-right:10px !important;
}

.ui-datepicker-calendar > thead {
	border-bottom:1px solid #c0c0c0!important;
}

.ui-datepicker-month {
	height:30px;
	font-size:14px !important;
	margin-left:10px !important;
}
.ui-datepicker-prev{
	width:30px !important;
	height:30px !important;
}

.ui-datepicker-next {
	width:30px !important;
	height:30px !important;
}

#ui-datepicker-div {
	width:400px;
	height:190px;
}

.ui-state-default {
	height:16px;
	font-size:12px;
	text-align:center !important;
	border-style:none !important;
	background-color:#FFFFFF !important;
}

/* 
#roomList > #calendar {
    border:1px solid grey;
    height:35px;
    width:150px;
    display: flex;
    align-items: center;
    border-top-right-radius:10px;
    border-top-left-radius:10px;
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
    justify-content: center;
    background-color: rgba(239, 235, 235, 0.974);
    
}
 */
#roomList > #calendar > #date {
    font-size:15px;
    margin-right:10px;
}

#roomList > #calendar > img {
    width:20px;
    height:20px;
    margin-right:10px;
}

#roomList > #calendar > button{
    border-style:none;
}

#roomList > #calendar > button:hover {
    cursor:pointer;
}

#roomList > #calendar > button > #date {
    margin-right:10px;
}

#roomList > #calendar > button > img {
    width:10px;
    height:10px;
}

#roomList {
    display: flex;
    flex-direction: column;
}


/* *******객실  ****** */

#roomList > .room {
    display: flex;
    margin-top:30px;
    border:1px solid grey;
    border-radius: 5px;
    position: relative;
}

#roomList > .room > .roomImgList {
    position:absolute;
    left:45.3%;
    bottom:6.4%;
    border-style:none;
    padding:8px;
    border-radius: 5px;
    background-color: rgb(52, 152, 219);
    color:#FFFFFF;
    font-weight: bold;
}

#roomList > .room > .roomImgList:hover {
    cursor:pointer;
}

#roomList > .room > .roomImg {
    margin:10px 0;
    width: 535px;
    height:265px;
    margin:20px;
}

#roomList > .room > .roomInfo {
    display: flex;
    flex-direction: column;
    width:435px;
    margin-top:20px;
}

#roomList > .room > .roomInfo > button {
    cursor:pointer;
}

#roomList > .room > .roomInfo > .infoBtn {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom:1px solid black;
}

#roomList > .room > .roomInfo > .infoBtn > span {
    font-size:14px;
}

#roomList > .room > .roomInfo > .infoBtn > button {
    width:80px;
    height:30px;
    color:#FFFFFF;
    background-color: rgb(52, 152, 219);
    border-style:none;
    border-radius: 5px;
    font-weight: bold;
}

#roomList > .room > .roomInfo > .infoBtn > button:hover {
    cursor:pointer;
}

#roomList > .room > .roomInfo .roomName{
    font-size:20px;
    font-weight: bold;
}

#roomList > .room > .roomInfo > .settingPeople {
    display: flex;
    margin-top:10px;
    border-radius: 10px;
    font-size:12px;
    width:120px;
    height:20px;
    justify-content: center;
    align-items: center;
    background-color: rgba(239, 235, 235, 0.974);
    margin-bottom:10px;
} 

#roomList > .room > .roomInfo > .defaultForm {
    display: flex;
    flex-direction: column;
    position:relative;
    margin-bottom:13px;
}

#roomList > .room > .roomInfo > .defaultForm > .price {
    position:absolute;
    left:67%;
    bottom:0;
    display: flex;
    flex-direction: column;
    height:40px;
    font-size:18px;
    font-weight: bold;
}

#roomList > .room > .roomInfo > .defaultForm > .price > .roomPrice {
    text-decoration:line-through;
}

#roomList > .room > .roomInfo > button {
    width:100%;
    height:40px;
    background-color: rgb(52, 152, 219);
    border-style:none;
    color:#FFFFFF;
    font-weight: bold;
    font-size:16px;
    border-radius: 5px;
    margin:0 auto;
}

#roomList > .room > .roomInfo > .defaultForm > div {
    display: flex;
    width:200px;
    height:25px;
    align-items: center;
    margin-bottom:10px;
}

#roomList > .room > .roomInfo > .defaultForm > div > .people {
    font-size:12px;
    margin-right:30px;
}

#roomList > .room > .roomInfo > .defaultForm > div > div {
    border:1.5px solid grey;
    width:110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
}

#roomList > .room > .roomInfo > .defaultForm > div > div > .plus {
    background-color: #FFFFFF;
    border-style:none;
    border-left:1px solid grey;
}


#roomList > .room > .roomInfo > .defaultForm > div > div > .plus:hover {
    cursor:pointer;
}

#roomList > .room > .roomInfo > .defaultForm > div > div > .minus {
    background-color: #FFFFFF;
    border-style:none;
    border-right:1px solid grey;
}

#roomList > .room > .roomInfo > .defaultForm > div > div > .minus:hover {
    cursor:pointer;
}

#roomList > .room > .roomInfo > .defaultForm > div > div > button {
    width:30px;
    height:25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#roomList > .room > .roomInfo > .defaultForm > div > div > button > img {
    width:15px;
    height:15px;
    background-color: #FFFFFF;
    border-style: none;
}

/* ******************모달 (객실 이용안내)************************** */

.modalContent {
	width:530px;
	position:absolute;
	left:10%;
}

.modalInfo {
	padding:0px !important;
	width:530px !important;
	height:250px !important;
}

.modalInfo > div {
	padding:15px !important;
	padding-bottom:35px !important;
	margin-top:20px;
	border-bottom:1px solid #e5e5e5;
}

.modalInfo > div:last-child {
	border-bottom:none;
}

.facTitle {
	font-weight:bold;
	font-size: 16px;
	margin-bottom:3px;
}

.facilities {
	font-size:13px;
}


/* ******************모달 (객실 사진보기)************************** */

.roomContent {
	width:700px;
	height:400px;
	position:relative;
}

.imgList {
	position:relative;
}

.imgList > button {
	background-color:#FFFFFF;
	border-style:none;
	position:absolute;
}

.imgList > button > img {
	width:40px;
}

.imgList > .imgRight {
	top:50%;
	right:-13.2%;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:5px;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
	background-color:#eeeeee;
	transition: all 0.3s ease;
}

.imgList > .imgRight:hover {
   box-shadow:
   -1px -1px 20px 0px #fff9,
   -1px -1px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
}

.imgList > .imgLeft {
	top:50%;
	left:4.2%;
	padding-top:15px;
	padding-bottom:15px;
	padding-right:5px;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	background-color:#eeeeee;
	transition: all 0.3s ease;
}

.imgList > .imgLeft:hover {
   box-shadow:
   -1px -1px 20px 0px #fff9,
   -1px -1px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
}


.imgList > ul {
	list-style:none;
}

.imgList > ul > li > img {
	width:652px;
	height:335px;
	margin-top:15px;
	margin-left:10px;
	margin-right:10px;
}

.footer {
	padding:10px 15px !important;
	border:none !important;
	position:absolute;
	top:-0.5%;
	right:1%;
}

.btnClose {
	padding-top:4px !important;
	padding-bottom:4px !important;
	background-color: rgb(52, 152, 219) !important;
	color:white !important;
	font-size:14px !important;
}

/* ******************푸터************************** */
footer {
    overflow: hidden;
    clear: both;
    position: relative;
    margin-top: 120px;
    padding: 63px 31px 40px 31px !important;
    border-top: 1px solid rgba(0,0,0,0.08);
    background: rgb(245,245,245);
    font-size: 13px;
    line-height: 20px;
    color: rgba(0,0,0,0.38);
    
}

footer .align {
    width: 1024px;
    margin: 0 auto;
}

footer .link {
    overflow: hidden;
}

 ul{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

footer > .align > ul > li {
    list-style: none;
}

footer .link li {
    float: left;
    margin-bottom: 5px;
    line-height: normal;
}

footer .link li:nth-child(6) {
    clear: both;
}

footer .link li:nth-child(5), footer .link li:nth-child(8) {
    clear: none;
}

footer .link li:last-child {
    margin-bottom: 0;
}

footer .link li span {
    display: inline-block;
    position: relative;
    top: -2px;
    width: 24px;
    font-size: 11px;
    text-align: center;
}

footer .link li a {
    display: inline-block;
    color: gray;
}

footer p {
    clear: both;
    padding: 37px 0 24px 0;
}

footer address {
    line-height: 22px;
    display: inline-block;
}

address, caption, em, var {
    font-style: normal;
    font-weight: normal;
}