@charset "UTF-8";



/* ******************해더(로고  로그인,회원가입)************************** */
/* 헤더 */
/******************** 컨텐츠 */
#content {
	width: 1024px;
	margin: auto;
	padding-top: 96px;
} 

/****************컨텐츠(숙소) ***************/
#content > h1{
	margin-top:10px;
	font-size: 35px;
	font-weight: bolder;
	color: #000000;
}

#content > #Reservation_num{
	display:inline-block;
	margin-top:10px;
	padding: 5px;
	font-size: 14px;
	color: #FFFFFF;
	text-align: center;
	border-radius: 4px;
	background-color: #F7323F;
}



#content > #pension {
	height: 180px;
	padding: 15px 0px 15px 0px;
	border-bottom: 1px solid #000000;
}
/* 펜션 이미지 */
#content > #pension > #pension_image {
	float: left;
	width: 205px;
	height: 150px;
	padding: 15px 15px 15px 0px;
	margin: 0px 0px 15px 0px;
	
}

#content > #pension > #pension_pName {
	float: left;
	margin-top:20px;
	width: 240px;
	height:24px;
	font-size: 18px;
	color: #000000;
}

#content > #pension > #pension_rName {
	float: left;
	margin-top:10px;
	width: 240px;
	height:24px;
	font-size: 16px;
	color: #000000;
}

#content > #pension > #pension_people {
	float: left;
	margin-top:10px;
	width: 240px;
	height:24px;
	font-size: 14px;
	color: #000000;
}

#content > #pension > #flex{
	float: right;
	width: 578px;
	height: 68px; 
	background:#1493FF12;
	margin-top: 30px;
	padding:1.5rem; 
	border-radius: 1rem;
}

.flex-s{
	float: left;
	margin-left: 30px;
	width: 240px;
	border-right: 1px dotted #AAAAAA;
}
.flex-e{
	float: right;
	width: 240px;
}

.color-primary {
	color : #1493FF;
}
.font-size-13 {
    font-size: 13px;
}
.font-size-17 {
    font-size: 17px;
}
/**************컨텐츠(양도자) ***************/
#content > #person {
	width : 600px;
	height :260px;
}

#content > #person > #person_Info{
	width: 120px;
	margin:20px 0px 20px 0px;
	padding: 4px;
	font-size: 18px;
	color: #FFFFFF;
	text-align: center;
	border-radius: 4px;
	background-color: #F7323F;
}

#content > #person > .personInfo{
	margin: 0px 0px 20px 0px;
	font-size: 20px;
} 

/**************컨텐츠(약관동의) ***************/
#content > .caution-field > #police {
	margin: 40px 0px 0px 0px;
}
#content > .caution-field > #dongi{
	display:inline-block;
	width: 720px;
}

#content > .caution-field > #dongi > .agree {
	width: 720px;
	height:auto;
	line-height: 22px; 
	margin: 20px 0px 0px 0px;
}
#content > .caution-field > #dongi > .agreed {
	width: 720px;
	height:auto;
	line-height: 22px; 
	margin: 15px 0px 0px 0px;
}
label.dong {
	display: inline;
    color: #000000;
    text-align: left;
    font-size: 12px;
    font-weight: normal;
    white-space: normal;
}


.checkbox {
	display: inline-block;
}
input[type="checkbox"]{
	position:relative;
	top: 3px;
	width:16px;
	height:16px;
	accent-color: #F7323F;
}
.font-size-25 {
    font-size: 25px;
}
.font-size-12 {
    font-size: 12px;
}
.font-bold {
	font-weight: bold;
}
.color-dan {
	color: #F7323F;
}
.backcolor-dan{
	background-color: #F7323F;
}
/**************컨텐츠(가격및 양도버튼) ***************/
#content > #pay  {
	display:block;
	float: right;
	margin: 20px 0px 0px 0px;
	padding: 5px;
	width: 280px;
	height: 600px;
	background-color: #F5F5F5;
	border-radius: 5px;
}

#refund_table{
	width: 270px;
	height:230px;
}
/* 취소가격 */
#pay_refund{
	display:block;
	font-size: 13px;
}

/* 인원추가 */
#pay_addPerson{
	display:inline-block;
	margin: 50px 0px 0px 0px;
	font-size: 18px;
}
/* 어른추가 */
#content > #pay > #pay_addPerson > #pay_addPerson_adult{
	margin: 10px 0px 0px 0px;
}
/* 아이추가 */
#content > #pay > #pay_addPerson > #pay_addPerson_kid{
	margin: 10px 0px 0px 0px;
}
/* 영유아추가 */
#content > #pay > #pay_addPerson > #pay_addPerson_baby{
	margin: 10px 0px 0px 0px;
}
/* 가격확인 */
#pay_confirm {
	margin: 10px 0px 0px 0px;
	font-size: 20px;
}

/* 결제가격확인 */
#pay_confirm_payment {
	margin: 10px 0px 0px 0px;
	font-size: 20px;
}

/* 취소하면 나오는 금액: */
#pay_confirm >#refund {
	width:270px;
	color: #F7323F;
	font-size: 20px;
} 

/* 취소하면 나오는금액 */
#pay_confirm_refund {
	display:block;
	float: left;
		color: #F7323F;
	margin: 10px 0px 0px 0px;
	font-size: 20px;
	
}
/* 취소하면 나오는금액 10000원찍찍이 */
#refund_pay {
	float: left;
	margin: 10px 0px 0px 0px;
	color: #F7323F;
}

/* 양도금액 넣기 */
#pay_confirm_transfer {
    width: 250px;
    height: 30px;
    font-size: 16px;
    margin: 10px 0px 10px 0px;
    padding-right: 10px;
    text-align: right;	
	
}
/* 양도하기 버튼 */
button#btn_transfer {
	width:270px;
	font-size: 35px;
    color: #FFFFFF;
    text-align: center;
    line-height: 2em;
    border: 0px;
    border-radius: 4px;
    background-color: #F7323F;
}
/********ㅁ달 ******/
.con{
	text-align: center;
	font-size: 20px;
}

/* ******************푸터************************** */
footer {
    overflow: hidden;
    clear: both;
    position: relative;
    margin-top: 120px;
    padding: 63px 31px 40px 31px !important;
    border-top: 1px solid rgba(0,0,0,0.08);
    background: rgb(245,245,245);
    font-size: 13px;
    line-height: 20px;
    color: rgba(0,0,0,0.38);
}

footer .align {
    width: 1024px;
    margin: 0 auto;
}

footer .link {
    overflow: hidden;
}

footer ul{
   display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
}

 ul, ol, li {
    list-style: none;
}

footer .link li {
    float: left;
    margin-bottom: 5px;
    line-height: normal;
}

footer .link li:nth-child(6) {
    clear: both;
}

footer .link li:nth-child(5), footer .link li:nth-child(8) {
    clear: none;
}

footer .link li:last-child {
    margin-bottom: 0;
}

footer .link li span {
    display: inline-block;
    position: relative;
    top: -2px;
    width: 24px;
    font-size: 11px;
    text-align: center;
}

footer .link li a {
    display: inline-block;
    color: gray;
}

footer p {
    clear: both;
    padding: 37px 0 24px 0;
    
}

footer address {
    line-height: 22px;
    display: inline-block;
    
}

address, caption, em, var {
    font-style: normal;
    font-weight: normal;
}