@charset "UTF-8";
@font-face {
    font-family: 'TTCrownMychewR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/TTCrownMychewR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/* ***************초기화*************************** */
/* 여백초기화 */
body, div, ul, li, dl, dt, ol, 
h1, h2, h3, h4, h5, h6, input, 
fieldset, legend, p, select, 
table, th, td, tr, textarea, 
button, form {
    margin: 0; padding: 0;
}

body {
   font-size: 12px;
   font-family: "맑은 고딕", 돋움, 굴림;
   
}


/* 리스트 초기화 */
ul, ol {list-style-type: none;}

/* 링크 초기화 */
a:link    {color: #ffffff; text-decoration: none;}     /* 방문전 링크일때 자홍색 선없음 */
a:visited {color: #ffffff; text-decoration: none;}      /* 방문했던 링크일때 회색 위에선*/
a:hover   {color: #ffffff; text-decoration: none;}   /* 마우스오버일때 파란색 아래선 */
a:active  {color: #ffffff; text-decoration: none;}   /* 클릭했을때 빨간색 중앙선*/ 


/* clearfix */
.clearfix{*zoom:1;}
.clearfix:before, .clearfix:after {display: block; content: ""; line-height: 0;}
.clearfix:after {clear: both;}

.bold {font-weight: bold;}


/* ******************레이아웃************************** */


#wrap {
    position:relative;
    margin: 0px auto;
    width: 100%;
    height: 100%;
}

#wrap > #header {
   padding: 10px 0px 10px 0px;
   background-color: #f7323f;
}


#wrap > #area {
   padding: 10px 0px 10px 0px;
   background-color:   #f7323f;
   
}

/* ******************해더(로고  로그인,회원가입)************************** */
/* 헤더 제목 */

#header > #section > h1> a {
    font-family: 'TTCrownMychewR';
}

#header > #section > ul {
    font-family: 'TTCrownMychewR';
}

#header > #section {
    position: relative;
    width: 1024px;
    height: 64px;
    background: none;
    margin: auto;
}

#header > #section > h1:hover {
    cursor:pointer;
}

#header > #section > h1 {
   float: left;
   color: #FFFFFF;
   font-size: 35px;
   font-weight: bold;
   margin-top: 10px ;
   
}
/* 헤더 ul */
#header ul {
   margin: 15px 0px 0px 0px;
   float: right;
   
}
/* 헤더 li */
#header ul>li {
   margin: 0px 0px 0px 20px;
   float: left;
   font-size: 20px;
}

/* 헤더 펜션글자 */
#area h2{
    display: block;
    margin-left: 246px;
    font-size: 30px;
    font-weight: normal;
    letter-spacing: -1px;
    color: #fff;
}

/* 헤더 지역선택 */
#area span{
    border: 1px solid white;
    border-radius: 4px;
    display: inline-block;
    margin: 10px 0px 5px 246px;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: -1px;
    color: #fff;
}
/******************** 컨텐츠 */
#content {
	width: 1024px;
	margin: auto;
	
} 

/****************컨텐츠(숙소) ***************/
#content > h1{
	margin-top:10px;
	font-size: 35px;
	font-weight: bolder;
	color: #000000;
}

#content > #Reservation_num{
	width:200px;
	margin-top:10px;
	padding: 5px;
	font-size: 14px;
	color: #FFFFFF;
	text-align: center;
	border-radius: 4px;
	background-color: #F7323F;
}

#content > #pension {
	height: 180px;
	padding: 15px 0px 15px 0px;
	border-bottom: 1px solid #000000;
}
/* 펜션 이미지 */
#content > #pension > #pension_image {
	float: left;
	width: 205px;
	height: 150px;
	padding: 15px 15px 15px 0px;
	margin: 0px 0px 15px 0px;
	
}

#content > #pension > #pension_pName {
	float: left;
	margin-top:20px;
	width: 240px;
	height:24px;
	font-size: 18px;
	color: #000000;
}

#content > #pension > #pension_rName {
	float: left;
	margin-top:10px;
	width: 240px;
	height:24px;
	font-size: 16px;
	color: #000000;
}

#content > #pension > #pension_people {
	float: left;
	margin-top:10px;
	width: 240px;
	height:24px;
	font-size: 14px;
	color: #000000;
}

#content > #pension > #flex{
	float: right;
	width: 578px;
	height: 68px; 
	background:#1493FF12;
	margin-top: 30px;
	padding:1.5rem; 
	border-radius: 1rem;
}

.flex-s{
	float: left;
	width: 240px;
	border-right: 1px dotted #AAAAAA;
}
.flex-e{
	float: right;
	width: 240px;
}

.color-primary {
	color : #1493FF;
}
.font-size-13 {
    font-size: 13px;
}
.font-size-17 {
    font-size: 17px;
}
/**************컨텐츠(양도자) ***************/
#content > #person {
	width : 600px;
	height :220px;
}

#content > #person > #person_Info{
	width: 120px;
	margin:20px 0px 20px 0px;
	padding: 4px;
	font-size: 18px;
	color: #FFFFFF;
	text-align: center;
	border-radius: 4px;
	background-color: #F7323F;
}

#content > #person > .personInfo{
	margin: 0px 0px 20px 0px;
	font-size: 20px;
} 

/**************컨텐츠(약관동의) ***************/
#content > .caution-field > #police {
	margin: 40px 0px 0px 0px;
}
#content > .caution-field > #dongi{
	width: 760px;
}

#content > .caution-field > #dongi > .agree {
	width: 760px;
	height:auto;
	line-height: 22px; 
	margin: 20px 0px 0px 0px;
}
#content > .caution-field > #dongi > .agreed {
	width: 760px;
	height:auto;
	line-height: 22px; 
	margin: 15px 0px 0px 0px;
}
label.dong {
	display: inline;  
    color: #000000;
    text-align: left;
    font-size : 12px;
    white-space: pre-line;
	  
}

.checkbox {
	display: inline-block;
}
.font-size-25 {
    font-size: 25px;
}
.font-size-12 {
    font-size: 12px;
}
.font-bold {
	font-weight: bold;
}
.color-dan {
	color: #F7323F;
}
.backcolor-dan{
	background-color: #F7323F;
}
/**************컨텐츠(가격및 양도버튼) ***************/
#content > #pay  {
	float: right;
	margin: 20px 0px 0px 0px;
	padding: 5px;
	background-color: #FAFAFA;
}


/* 취소가격 */
#content > #pay > #pay_refund{
	padding:5px;
}

/* 인원추가 */
#content > #pay > #pay_addPerson{
	margin: 20px 0px 0px 0px;
	font-size: 18px;
}
/* 어른추가 */
#content > #pay > #pay_addPerson > #pay_addPerson_adult{
	margin: 10px 0px 0px 0px;
}
/* 아이추가 */
#content > #pay > #pay_addPerson > #pay_addPerson_kid{
	margin: 10px 0px 0px 0px;
}
/* 영유아추가 */
#content > #pay > #pay_addPerson > #pay_addPerson_baby{
	margin: 10px 0px 0px 0px;
}
/* 가격확인 */
#content > #pay > #pay_confirm {
	margin: 10px 0px 0px 0px;
}

/* 결제가격확인 */
#content > #pay > #pay_confirm >#pay_confirm_payment {
	margin: 10px 0px 0px 0px;
	font-size: 15px;
}

/* 취소하면 나오는 금액: */
#content > #pay > #pay_confirm >#refund {
	font-size: 15px;
	color: #F7323F;
} 

/* 취소하면 나오는금액 */
#content > #pay > #pay_confirm >#refund> #pay_confirm_refund {
	float: left;
	width: 140px;
	color: #F7323F;
	margin: 10px 0px 0px 0px;
	
}
/* 취소하면 나오는금액 10000원찍찍이 */
#content > #pay > #pay_confirm >#refund>#refund_pay {
	float: right;
	margin: 10px 0px 0px 0px;
	color: #F7323F;
	text-decoration: line-through;
}

/* 양도금액 넣기 */
#content > #pay > #pay_confirm >#pay_confirm_transfer {
	width: 233px;
	height: 25px;
	font-size:14px;
	margin: 10px 0px 10px 0px;
	padding-right:15px;
	text-align:right; 	
	
}
/* 양도하기 버튼 */
button#btn_transfer {
	width:245px;
	font-size: 26px;
    color: #FFFFFF;
    text-align: center;
    line-height: 2em;
    border: 0px;
    border-radius: 4px;
    background-color: #F7323F;
}
/********ㅁ달 ******/
.con{
	text-align: center;
	font-size: 20px;
}

/* ******************푸터************************** */
footer {
    overflow: hidden;
    clear: both;
    position: relative;
    margin-top: 120px;
    padding: 63px 31px 40px 31px !important;
    border-top: 1px solid rgba(0,0,0,0.08);
    background: rgb(245,245,245);
    font-size: 13px;
    line-height: 20px;
    color: rgba(0,0,0,0.38);
}

footer .align {
    width: 1024px;
    margin: 0 auto;
}

footer .link {
    overflow: hidden;
}

footer ul{
   display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
}

 ul, ol, li {
    list-style: none;
}

footer .link li {
    float: left;
    margin-bottom: 5px;
    line-height: normal;
}

footer .link li:nth-child(6) {
    clear: both;
}

footer .link li:nth-child(5), footer .link li:nth-child(8) {
    clear: none;
}

footer .link li:last-child {
    margin-bottom: 0;
}

footer .link li span {
    display: inline-block;
    position: relative;
    top: -2px;
    width: 24px;
    font-size: 11px;
    text-align: center;
}

footer .link li a {
    display: inline-block;
    color: gray;
}

footer p {
    clear: both;
    padding: 37px 0 24px 0;
    
}

footer address {
    line-height: 22px;
    display: inline-block;
    
}

address, caption, em, var {
    font-style: normal;
    font-weight: normal;
}