@charset "UTF-8";



 /* ******************메인************************** */

#map1 {
	width:100%;
	height:400px;
}

#main {
    width:1024px;
    margin:auto;
    margin-top:29.5px;
}

#main > #content {
    width: 525px;
    height:50px;
}

#main > #content > button:hover {
    cursor:pointer;
}

#main > #content > #area {
    font-size:20px;
    font-weight: bold;
}

#main > #content > #pensionName {
    font-size:20px;
    font-weight: bold;
}

#main > #content > #address {
    font-size:12px;
}

#main > #content > img {
    width:14px;
    margin-left:15.5px;
}

#main > #content > #map {
    border-style: none;
    font-size:12px;
    background-color: #FFFFFF;
    color:rgb(52, 152, 219);
}

#main > #content > #star > #pensionReview {
    border-style: none;
    font-size:14px;
    background-color: #FFFFFF;
}

#main > #content #star {
    display: flex;
    align-items: center;
    height:20px;
}

#content > #star > .starCount > img {
    width:17px !important;
    height:16px;
    padding-right:1px;
}

#content > #star > #starScore {
    padding-left:5px;
    font-size:14px;
    font-weight: bold;
    height:100%;
}

#content > #star > #pensionReview {
    padding-left:5px;
    font-size:14px;
    padding-right:5px;
    background-color: #ffffff;
}

#content > #star > #pensionReview:hover {
    cursor:pointer;
}

#main > #gallery {
    display:flex;
    position:relative;
    margin-top:1px;
}

#main > #gallery > #mainImg {
    display: flex;
    width:519px;
    height:339px;
    padding-top:10px;
}

#main > #gallery > #imgCount {
    display: flex;
    position:absolute;
    top:88.7%;
    left:40.3%;
    width:106px;
    height:31px !important;
    font-size:11px;
    font-weight: bold;
    color:#FFFFFF;
    background-color: rgb(52, 152, 219);
    padding:3px;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}


#main > #gallery > #subImg {
    display: flex;
    width:488.95px !important;
    margin-left:25px;
}

#main > #gallery > #subImg > ul {
    display: flex;
    width:343px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin:0px 10px;
    list-style-type:none;
    padding:0;
}

#main > #gallery > #subImg > ul > li {
    margin:0px 10px;
    margin-top:10px;
    margin-bottom:10px;
    width: 150px;
    height:96px;
}

#main > #gallery > #subImg > ul > li > img {
    width:150px;
    height:100%;
    overflow: hidden;
}

#main > #gallery > div > button {
    margin:0px 10px;
    text-align: center;
    border-style: none;
    background-color: #ffffff;
}

#main > #gallery > div > button:hover {
    cursor:pointer;
}

#main > #gallery > div > button > img {
    width:40px;
}


/* ************** 편의시설 및 서비스 기능************** */

#iconBox {
    width:1024px;
    height:218px;
    margin:auto;
    margin-top:20px;
    padding-top:31px;
    border-top:1px solid black;
    border-bottom:1px solid black;
    display: flex;
    flex-direction: column;
}

#iconBox > h4 {
	
	margin-top:10px;
	margin-bottom:10px;
    font-size:20px;
    font-weight: bold;
}

#iconBox > #container {
    font-size:20px;
    font-weight: bold;
    height:58.6px;
    display: flex;
    justify-content: space-around; 
}

#iconBox > #container > div > span > img {
    padding-top:9.5px;
    width: 35px;
    display: flex;
}


#iconBox > #container > div {
    margin-right:6px;
    
}

#iconBox > #container > div > .icon {
    display: flex;
    justify-content: center;
}

#iconBox > #container > div > .iconName {
    font-size:10px;
    display: flex;
    justify-content: center;
}

#iconBox > #container > #moreIcon:hover {
    cursor:pointer;
}

/* ********* 메뉴바 ********* */
#iconBox > #menu {
    margin-top:29px;
    margin-bottom:30px;
}

#iconBox > #menu > a > button {
    margin-right:30px;
    border-style:none;
    background-color: #FFFFFF;
    font-size:16px;
    font-weight: bold;
}

#var {
    color:black;
}

#var1 {
    color:black;
}

#var2 {
    color:rgb(230,28,81);
}


.icon {
    width:45px;
    text-align: center;
}

.fontName {
    font-size:16px;
    text-align: center;
}


/* ******************리뷰************************** */

#review {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:1024px;
    margin:0 auto;
    padding:30px 0px;
    border-bottom:1px solid black;
    margin-bottom:30px;
}

#review > #ment {
    font-size:20px;
    font-weight: bold;
}

#review > #star {
    display: flex;
    align-items: center;
    justify-content: center;
    margin:10px 0px;
}

#review > #star > .starCount > img{
    width:30px;
    padding-right:5px;
}

#review > #star > #starScore {
    font-size:20px;
    font-weight: bold;
}

#review > #reviewCount {
    font-size:16px;
}

#review > #reviewCount > #allReview {
    margin-right:18px;
}

#reviewBox {
    display: flex;
    flex-direction: column;
    width:1024px;
    margin:auto;
    margin-bottom:30px;
}

#reviewBox > #guestContainer {
    display: flex;
}

#reviewBox > #guestContainer > .box {
    width:50px;
    height:50px;
    border-radius: 70%;
    background-color: rgb(162, 162, 162);
    margin-right:30px;
}

.box > img {
    width:100%;
    height:100%;
}

#reviewBox > #guestContainer > #guestBox {
    display: flex;
    flex-direction: column;    
    
}

#reviewBox > #guestContainer > #guestBox > #guestReview {
    font-weight: bold;
    font-size:16px;
    margin-bottom:5px;
}

#reviewBox > #guestContainer > #guestBox > #reviewStar {
    display: flex;
    margin-bottom:10px;
}

#reviewBox > #guestContainer > #guestBox > #reviewStar > #starScore {
    padding-left:10px;
    font-size:14px;
    font-weight: bold;
}

#reviewBox > #guestContainer > #guestBox > #guestInfo {
    margin-bottom:20px;
    font-size:13px;
    font-weight: bold;
} 

#reviewBox > #guestContainer > #guestBox > #reviewContent {
    font-size:13px;
    margin-bottom:20px;
    width:945px;
}

#reviewBox > #guestContainer > #guestBox > #roomImg {
    display: flex;
}

#reviewBox > #guestContainer > #guestBox > #reviewStar > .starCount > img {
    width:20px;
}

#reviewBox > #guestContainer > #guestBox > #roomImg > ul {
    display: flex;
    list-style-type: none;
    padding:0;
    
}

#reviewBox > #guestContainer > #guestBox > #roomImg > ul > li > img{
    width:463px;
    height:250px;
    padding-right:20px;
}

#reviewBox > #guestContainer > #guestBox > #roomImg > ul > li:last-child > img {
    padding-right:0;    
}

#reviewBox > #guestContainer > #guestBox > #guestRegDate {
    font-size:13px;
    margin-bottom:30px;
}

#reviewBox > #guestContainer > #guestBox > #ceoContainer {
    display: flex;
    width:926px;
    background-color:rgba(0,0,0,0.08);
    padding:10px;
}

#reviewBox > #guestContainer > #guestBox > #ceoContainer > #ceoInfo {
    display: flex;
    flex-direction: column;
}

#reviewBox > #guestContainer > #guestBox > #ceoContainer > #ceoInfo > #ceoReview {
    font-size:16px;
    font-weight: bold;
    margin-bottom:20px;
}

#reviewBox > #guestContainer > #guestBox > #ceoContainer > #ceoInfo > #ceoContent {
    font-size:13px;
    margin-bottom:20px;
}

#reviewBox > #guestContainer > #guestBox > #ceoContainer > #ceoInfo > #ceoRegDate {
    margin-bottom:10px;
    font-size:13px;
}

#reviewBox > #guestContainer > #guestBox > #ceoContainer > .box {
    width:150px;
    height:50px;
    border-radius: 70%;
    background-color: rgb(233, 109, 73);
    margin-right:30px;
}

#reviewBox > #guestContainer > #guestBox > #ceoContainer > .box > img {
    width:100%;
    height:100%;
}


