@charset "UTF-8";

@font-face {
	font-family: "TTCrownMychewR";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/TTCrownMychewR.woff2")
		format("woff2"); font-weight: normal; font-style: normal;
}

/* ***************초기화(RESET) //*************** */
/* 클릭시 테두리표시 업애기 */
* {
	outline: 0;
}
/* 폰트 설정 (font-family/font-size/line-height/color/폰트크기 자동조절 제거) */
html, body {
	font-family: "맑은 고딕", "맑은고딕", "Malgun Gothic", sans-serif; font-size: 14px; line-height: 1;
	color: rgba(0, 0, 0, 0.87); -webkit-text-size-adjust: none;
} /* 폰트크기 자동조절 제거 */
input::-ms-clear, input::-ms-reveal {
	display: none;
} /* IE - select arrow remove */
/* 이미지 설정 (border/vertical-align/터치 팝업 제거) */
img {
	border: 0; vertical-align: top; -webkit-touch-callout: none;
} /* 이미지 터치 팝업 제거 */
/*  탭 했을때 하이라이트 제거 */
a, input, button, div, li, textarea, form, label, select {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
} /* 하이라이트 제거 */
/* 아래의 경우 block으로 처리 -> block : width, height, margin, padding 속성이 모두 반영됨 */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
/* 여백 초기화 (margin/padding/border/box-sizing) -> border-box : 테두리 안쪽 여백의 크기도 요소의 크기로 고려함 */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address,
	cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd,
	ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article,
	aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary,
	time, mark, audio, video {
	margin: 0; padding: 0; border: 0; box-sizing: border-box;
}
/* 리스트 초기화 */
ul, ol, li {
	list-style: none;
}
/* fieldset, img 보더 제거 */
fieldset, img {
	border: 0;
}
/* 링크 텍스트 데코(밑줄 등) 제거 */
a {
	text-decoration: none;
}

a:link {
	color: #ffffff; text-decoration: none;
} /* 방문전 링크일때 자홍색 선없음 */
a:visited {
	color: #ffffff; text-decoration: none;
} /* 방문했던 링크일때 회색 위에선*/
a:hover {
	color: #ffffff; text-decoration: none;
} /* 마우스오버일때 파란색 아래선 */
a:active {
	color: #ffffff; text-decoration: none;
} /* 클릭했을때 빨간색 중앙선*/

/* 글자 모양 / 굵기 기본값  */
address, caption, em, var {
	font-style: normal; font-weight: normal;
}
/* textarea / button / input / select 기본 설정 */
textarea, button, input, select {
	appearance: none; -webkit-appearance: none; -moz-appearance: none; border-radius: 0;
	font-family: "맑은 고딕", "맑은고딕", "Malgun Gothic", sans-serif;
}
/* 버튼 패딩 제거 / 포인터로 커서 설정 */
button {
	padding: 0; cursor: pointer;
}
/* 버튼 선택 혹은 클릭 시 패딩 제거 */
button:focus, button:active {
	padding: 0;
}
/* 버튼 속 스팬 위치 설정 */
button span {
	position: relative;
}

select::-ms-expand {
	display: none;
}
/* 테이블 보더 초기화 */
table {
	border-collapse: collapse; border-spacing: 0;
}
/* 레이블 커서 포인터로 설정 */
label {
	cursor: pointer;
}

/* ***************공통(COMMON) //*************** */
.wrap {
	width: 100%; /* 해당 블록 넓이 100% 처리 */ background: #fff; /* 배경은 흰색 */ opacity: 0; /* 불투명도 : 0 */
	visibility: hidden; /* hidden : The element is hidden (but still takes up space) */
}

.wrap.show, footer.show {
	opacity: 1; visibility: visible;
}

#content {
	overflow: hidden; /* 넓이 넘어서는 내용에 대해서 보이지 않게 처리함 */
}

/* clearfix */
.clearfix {
	*zoom: 1;
}

.clearfix:before, .clearfix:after {
	display: block; content: ""; line-height: 0;
}

.clearfix:after {
	clear: both;
}

/* ***************헤더 (HEADER) //*************** */
header {
	position: relative; z-index: 210;
}

header, .roll {
	position: relative; background: #f7323f;
}

header {
	position: fixed; top: 0; left: 0; right: 0; height: 72px; transition: 0.4s;
}

header section {
	margin: 0 auto; position: relative; width: 1024px; height: 64px; background: none;
}

/* header section h1 {
    float: left;
    color: #FFFFFF;
    font-size: 35px;
    font-weight: bold;
    margin-top: 12px !important;
} */
header section h1 {
	position: absolute; top: 26px; left: 31px; width: 110px; height: 20px; margin: 0; color: #ffffff;
	font-size: 25px; font-weight: bold; margin: 0;
}

header section h1 a {
	font-family: "TTCrownMychewR";
}

header section .btn_menu {
	display: none;
}

/* ***************네비게이션 (NAV BAR) //*************** */
header section ul {
	font-family: "TTCrownMychewR";
}

.pc .gnb_pc {
	display: inline-block; position: absolute; top: 27px; right: 31px;
}

.gnb_pc {
	width: auto; text-align: right;
}

.gnb_pc li {
	display: inline-block; position: relative; min-width: 53px; min-height: 35px; margin-left: 30px;
	vertical-align: top;
}

.gnb_pc li a {
	display: inline-block; font-size: 20px; color: rgb(255, 255, 255); letter-spacing: 0;
}

.gnb_pc li button {
	font-family: "TTCrownMychewR"; border: none; padding: 0; background: none; font-size: 20px;
	line-height: 1; color: rgb(255, 255, 255); letter-spacing: 0;
}

.gnb_pc li ul {
	display: none; position: absolute; top: 0; left: 0; border-radius: 5px; padding: 32px;
	background: #fff; text-align: left; -webkit-box-shadow: 0px 3px 5px 0px rgb(0 0 0/ 20%);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2); box-shadow: 0px 3px 5px 0px rgb(0 0 0/ 20%);
}

.gnb_pc .list_03 {
	top: 30px; left: -65px; width: 184px;
}

.gnb_pc li ul li {
	display: block; min-width: auto; min-height: auto; margin: 0 0 14px 0;
}

.gnb_pc li ul li b {
	display: block; overflow: hidden; padding-bottom: 21px; margin-bottom: 22px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.08); font-size: 16px; line-height: normal;
	font-weight: bold; white-space: nowrap; text-overflow: ellipsis;
}

.gnb_pc li ul li:last-child {
	margin-bottom: 0;
}

.gnb_pc li ul li a, .gnb_pc li ul li button {
	overflow: visible !important; display: block; position: relative !important; top: auto !important;
	left: auto !important; width: auto !important; height: auto !important; margin: 0; font-size: 16px;
	color: rgba(0, 0, 0, 0.87);
}

.gnb_pc li ul li button {
	padding: 0; border: none; background: none; line-height: 1;
}

.gnb_pc li ul li a:hover {
	font-weight: normal; color: rgba(0, 0, 0, 0.87);
}

.gnb_pc li ul li a span {
	display: inline-block; padding-left: 6px; font-weight: bold; color: #f7323f;
}

.gnb_pc .list_03 {
	top: 30px; left: -65px; width: 184px;
}

.gnb_pc .list_04 {
	top: 30px; left: -90px; width: 213px;
}

.gnb_pc li a:hover {
	color: #fff;
}

.gnb_pc li button {
	border: none; padding: 0; background: none; font-size: 20px; line-height: 1;
	color: rgb(255, 255, 255); letter-spacing: 0;
}

.gnb_pc li button:hover {
	color: rgb(255, 255, 255);
}

.gnb_pc li li button:hover {
	color: rgba(0, 0, 0, 0.87);
}

.gnb_pc .pic a {
	position: absolute; top: -5px; left: 0; overflow: hidden; width: 35px; height: 35px; margin: 0;
	border-radius: 100%;
}

.gnb_pc .pic img {
	width: 100%; height: 100%;
}

.gnb_pc .pic:after {
	display: inline-block; content: ""; position: absolute; top: 6px; right: 7px; width: 0; height: 0;
	border-right: 6px solid transparent; border-bottom: 6px solid #fff; transform: rotate(315deg);
	-ms-transform: rotate(315deg); -webkit-transform: rotate(315deg); -moz-transform: rotate(315deg);
	-o-transform: rotate(315deg);
}
/* ***************네비게이션 (NAV BAR) //*************** */

/* ***************sub_top //*************** */
.sub_top_wrap {
	height: 211px; background: #f7323f;
}

.sub_top {
	width: 1024px; height: 211px; margin: 0 auto; padding-top: 72px; border-radius: 0; background: none;
	position: relative;
}

.sub_top h2 {
	/* font-family: "TTCrownMychewR"; */
	display: block; margin: 21px 0 0 31px; font-size: 30px; font-weight: normal; letter-spacing: -1px;
	color: #fff;
}
/* ***************sub_top //*************** */

/* ***************sub_wrap //*************** */
.my_wrap {
	padding-top: 54px;
}

.sub_wrap {
	width: 1024px !important; min-height: 390px; margin: 0 auto 0 auto; padding-bottom: 50px;
}
/* ***************sub_wrap navigation//*************** */
.sub_wrap nav {
	display: block; float: left; width: 238px; border: solid 1px #ccc;
}

.sub_wrap nav ul li {
	margin-bottom: 5px;
}

.sub_wrap nav ul li a {
	position: relative; display: block; font-size: 16px; color: #000;
}

.sub_wrap nav ul li a.active {
	font-size: 16px; font-weight: bold; color: rgb(230, 28, 81);
}

.sub_wrap .sub_title {
	position: relative; height: 44px; background: #fff; font-size: 18px; line-height: 44px;
	text-align: center
}

.sub_wrap .sub_title button {
	position: absolute; top: 0; right: 16px; height: 44px; padding: 0; border: none; background: none;
	font-size: 14px; font-weight: bold
}



/* ***************sidenav top // 내용 정리 필요!! //*************** */
.sidenav-top, .sidenav-bot {
	margin: 0 auto; width: 100%; padding: 10px; display: block;
}

.sidenav-top-info {
	line-height: 2.2em; font-weight: bold; display: block; border: solid 1px #ccc; text-align: center;
}

.sidenav-top-point {
	margin-right: 5px;
}

.sidenav-top-point, .sidenav-top-ing {
	position: fixed; width: 100px; line-height: 1.75em; float: left; background-color: #f7323f;
	border: solid 1px #ccc; text-align: center; font-weight: bold; color: #fff !important;
}

/* ***************sub_wrap contents area//*************** */
.sub_wrap .align_rt {
	float: right; width: 724px; margin-right: 31px;
}

.sidenav-bot ul li {
	line-height: 1.75em;
}

.sidenav-bot ul li a {
	padding-left: 10px; font-size: 16px; font-weight: bold;
}

.sidenav-bot-submenu ul li {
	margin-left: 40px;
}

.sidenav-bot-submenu ul li a {
	font-size: 14px !important; font-weight: bold;
}
/* ***************내용 정리 필요!! //*************** */

/* ***************푸터 (footer) //*************** */
footer {
	overflow: hidden; clear: both; position: relative; margin-top: 120px;
	padding: 63px 31px 40px 31px !important; border-top: 1px solid rgba(0, 0, 0, 0.08);
	background: rgb(245, 245, 245); font-size: 13px; line-height: 20px; color: rgba(0, 0, 0, 0.38);
}

footer .align {
	width: 1024px; margin: 0 auto;
}

footer .link {
	overflow: hidden;
}

footer>.align>ul>li {
	list-style: none;
}

footer .link ul {
	display: block; margin-block-start: 1em; margin-block-end: 1em; margin-inline-start: 0px;
	margin-inline-end: 0px;
}

footer .link li {
	float: left; margin-bottom: 5px; line-height: normal;
}

footer .link li:nth-child(6) {
	clear: both;
}

footer .link li:nth-child(5), footer .link li:nth-child(8) {
	clear: none;
}

footer .link li:last-child {
	margin-bottom: 0;
}

footer .link li span {
	display: inline-block; position: relative; top: -2px; width: 24px; font-size: 11px;
	text-align: center;
}

footer .link li a {
	display: inline-block; color: gray;
}

footer p {
	clear: both; padding: 37px 0 24px 0;
}

footer address {
	line-height: 22px; display: inline-block;
}
/* ***************푸터 (footer) //*************** */

/* ***************LIST NONE //*************** */
.list_none {
	background: none; padding-top: 125px; font-size: 20px; font-weight: bold; text-align: center;
	height: 373px;
}
/* ***************LIST NONE //*************** */

/* ***************INPUT//*************** */
.inp_wrap {
	position: relative; border: 1px solid rgba(0, 0, 0, 0.08); height: 48px; padding: 0 40px 0 10px;
	border-radius: 4px;
}

.inp_wrap input {
	border: none; background: none; width: 100%; height: 20px; margin-top: 10px; font-size: 16px;
	line-height: 1; color: rgba(0, 0, 0, 0.56);
}

.inp_wrap {
	border: 1px solid rgba(0, 0, 0, 0.08); padding: 8px 14px 8px 16px;
}

.inp_wrap input {
	border: none; background: none; width: 100%; margin-top: 5px; font-size: 18px;
	color: rgba(0, 0, 0, 0.56);
}
/* ***************INPUT//*************** */

/* ***************SAFETY TEXT //*************** */
.mypage .safety_txt {
	clear: both;
}

.safety_txt {
	display: block; padding-bottom: 8px; font-size: 12px; color: rgba(0, 0, 0, 0.56);
}

.safety_txt {
	padding-bottom: 14px; font-size: 14px;
}
/* ***************SAFETY TEXT //*************** */
.btn_checked {
	display: none; position: absolute; top: 12px; right: 7px; width: 18px; height: 18px;
	text-indent: -9999px; background-color: #00A2AD;
	-webkit-mask-image: url(https://image.goodchoice.kr/images/30/svg/ic_check.svg);
	mask-image: url(https://image.goodchoice.kr/images/30/svg/ic_check.svg);
	-webkit-mask-size: 18px 18px; mask-size: 18px 18px;
}

/* ***************GRADATION //*************** */
/* Gradation */
.gra_red {
	background: rgb(243, 61, 105);
	background: -moz-linear-gradient(left, rgba(243, 61, 105, 1) 0%, rgba(248, 98, 95, 1) 100%);
	background: -webkit-linear-gradient(left, rgba(243, 61, 105, 1) 0%, rgba(248, 98, 95, 1) 100%);
	background: linear-gradient(to right, rgba(243, 61, 105, 1) 0%, rgba(248, 98, 95, 1) 100%);
}